* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
  justify-content: center;
  padding: 0px 50px;


}

.icon-display {
  margin-top: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-display {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.button-display-login button {
  padding: 20px;
  padding: 20px;
  margin: 0px 10px;
  border: none;
  background: rgb(84, 229, 84);
  color: #FFF;
  font-weight: bold;
  font-size: 15px;

}

.button-display-login button:hover {
  opacity: 1;
}

.icon {
  text-align: center;
  color: rgb(125, 210, 240);

}

.title {
  color: #ffffff;
  background: #1976d2;
  padding: 2px;
  width: 60%;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
}

.form label {
  color: #1976d2;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(236, 31, 31);
  font-weight: bold;
}

.form input {
  width: 80%;
  padding: 10px;
  border: none;
  margin: 10px 0px;
  outline: none;
  color: #1976d2;
  font-family: Arial, Helvetica, sans-serif;
}

.form textarea {
  width: 80%;
  border: #1976d2 solid 2px;
  min-height: 100px;

}

.form button {
  margin-top: 15px;

}

.btn {
  display: inline-block;
  padding: 15px;
  margin-left: 5PX;
  color: rgb(255, 255, 255);
  background: rgb(101, 181, 242);
  border: none;
  text-align: center;

}

.login-btn {
  margin-top: 40px;
  border-radius: 50px;
}

.form .btn {
  display: inline-block;
  padding: 15px;
  margin-left: 5PX;
  color: rgb(255, 255, 255);
  background: rgb(101, 181, 242);
  border: none;
  width: 30%;
}

.form .btn:hover {
  font-weight: bold;
  background: #1976d2
}

.login-page {
  margin-top: 60px;
  padding-top: 50px;
  padding-bottom: 100px;
  background: #fff;
}

.login * {
  margin: 10px 0px;
}

.login input {
  border: #1976d2 1px solid;
}


.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-top: 40px;
  flex-wrap: wrap;
}

.page-item,
.selected-item {
  margin-top: 3px;
  margin: 0px 2px;
  margin-bottom: 3px;
  padding: 15px;
  background: rgb(193, 207, 210);
  color: #fff;
}

.selected-item {
  background: #1976d2;
  color: rgb(255, 255, 255)
}

.data-display {
  overflow: auto;
  margin-bottom: 5px;
  background: #fff;
  padding: 10px;
  opacity: 0.7;
  border-bottom: #ffffff 10px solid;
  /* border-top: #ffffff 10px solid; */
}

.data-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
}

.coupon-data-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
}

.data-display:hover {
  opacity: 2;
}

.coupon-and-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
}

.purchased button:hover {
  background: #0c7def;
}

.purchased button {
  width: 50%;
}

.purchased {
  margin-bottom: 10px;
}

.data-display h4 {
  color: #1976d2
}

.data-display p {
  color: rgb(12, 123, 131);
  font-weight: bold;

}

.links {
  text-decoration: none;
  color: rgb(28, 147, 190);
  font-size: 1rem;
  font-weight: bold;
  margin: 5px;
}

.filter-option * {
  margin-bottom: 10px;
}

.filter-option {

  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.filter-option input {
  border: none;
  padding: 10px;

}

.filter-option button {
  background-color: rgb(145, 227, 193);
}

.filter-option .title {
  width: 80%;
  padding: 5px;
}

.filter-menu {
  background: rgb(219, 239, 243);
  padding: 8px 8px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

}

.select-filter {
  width: 30%;


}

.select-filter select {
  width: 30%;
  height: 2rem;

}

.select-filter .select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #ffff;
  cursor: pointer;
  pointer-events: none;
  transition: .25s all ease;
  height: 2rem;
}

.text {
  text-align: center;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
}

@media(max-width: 574px) {
  .text {
    display: none;
  }

}

@media(max-width:400px) {

  .btn {
    font-size: 10px;
  }
}

@media(max-width: 740px) {
  .data-row {
    grid-template-columns: repeat(1, 1fr);
  }

  .filter-option {
    width: 60%;
    margin-bottom: 10px;
    border-bottom: #1976d2 1px solid;
  }

  .filter-menu {
    flex-direction: column;

  }

  .select-filter {
    width: 60%;
  }

}

@media(max-width:1000px) {
  .coupon-data-row {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media(min-width:1070px) {
  .coupon-purchase {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;

  }
}

@media(max-width:580px) {
  .coupon-and-image {
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;

  }

  .coupon-and-image img {

    height: 200px;
    width: 300px;

  }

  .purchased button {
    width: 70%;
  }
}