@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;

}

body {
  background-color: rgb(236, 231, 244);

}

body button {
  background-color: rgb(229, 162, 235);
  font-family: 'Source Sans Pro', sans-serif;
}

code {
  font-family: 'Source Sans Pro', sans-serif;
}

.link-active {
  color: rgb(48, 220, 29);
}