@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Roboto:wght@300;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;

}

body {
  background-color: rgb(229, 162, 235);

}

body button {
  background-color: rgb(229, 162, 235);
  font-family: 'Fuzzy Bubbles', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link-active {
  color: rgb(48, 220, 29);
}